{{!-- <div id="signupbackground">
  <div id="signuppagecont"></div>
  <h2>Signup</h2>

  <form action="/auth/signup" method="POST" id="form-container">
    <label for="email">Email</label>
    <input id="email" type="text" name="email" placeholder="example@example.com">

    <br><br>

    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">
    <br>
    {{#if message }}
      <div class="error-message">{{ message }}</div>
    {{/if}}

    <br><br>

    <button class="btnsubmit">Create account</button>

    <p class="account-message">
      Do you already have an account?
      <a href="/auth/login">Login</a>
    </p>
  </form>
  </div>
</div> --}}

<div id="signupbackground">
  <div id="signuppagecont">
    <h3>Signup</h3>

    <form action="/auth/signup" method="POST" id="form-container">
      <label for="email">Email</label>
      <input id="email" type="text" name="email" placeholder="example@example.com">

      <br><br>

      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Your password">
      <br>
      {{#if message }}
        <div class="error-message">{{ message }}</div>
      {{/if}}

      <br><br>

      <button class="submit">Signup</button>

      <p class="account-message">
        Have an account already?
        <a href="/auth/login">Login</a>
       <div class="g-signin2" data-onsuccess="onSignIn" style="position:relative; padding-left:185px;">
         <a href="/auth/google">Login with Google</a></div>  
      </p>
    </form>
  </div>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="process.env.GOOGLE_ID.apps.googleusercontent.com">
</div>