  <form action="/createPost" method="post" enctype="multipart/form-data">
  <label>Title</label>
  <input type="text" name="title">
  <br/>
  <label>Category</label>
  <input type="text" name="type">
  <br/>
  <label>Content</label>
  <input type="number" name="capacidad">
  <br/>
  <label>Media</label>
  <input type="file" name="Media">
  <br/>
  <input type="submit">
</form>