<h1>New Post</h1>
  
<form action="/auth/createPost" method="post" enctype="multipart/form-data">
  <label>Title</label>
  <br/>
  <input type="text" name="title">
  <br/>
  <br/>
  <label>Category</label>
  <br/>
  <select name="category" id="category">
    <option value="Animals">Animals</option>
    <option value="art">Art</option>
    <option value="cars">Cars</option>
    <option value="crafts">Crafts</option>
    <option value="design">Design</option>
    <option value="food">Food</option>
    <option value="sports">Sports</option>
    <option value="technology">Technology</option>
    <option value="other">Other</option>    
  </select>
  <br/>
  <br/>
  <label>Content</label>
  <br/>
  <textarea type="text" name="capacidad"></textarea>
  <br/>
  <br/>
  <label>Media</label>
  <br/>
  <input type="file" name="media">
  <br/>
  <br/>
  <label>Thumbnail</label>
  <br/>
  <input type="file" name="thumbnail">
  <input type="submit">
</form>