<h1>New Post</h1>
<form action="/auth/createPost" method="post" enctype="multipart/form-data">
  <label>Title</label>
  <br/>
  <input type="text" name="title">
  <br/>
  <br/>
  <label>Category</label>
  <br/>
  <select name="category" id="category">
    <option value="Animals">Animals</option>
    <option value="Art">Art</option>
    <option value="Cars">Cars</option>
    <option value="Crafts">Crafts</option>
    <option value="Design">Design</option>
    <option value="Food">Food</option>
    <option value="Sports">Sports</option>
    <option value="Technology">Technology</option>
    <option value="Other">Other</option>    
  </select>
  <br/>
  <br/>
  <label>Content</label>
  <br/>
  <textarea type="text" name="content"></textarea>
  <br/>
  <br/>
  <label>Media</label>
  <br/>
  <input type="file" name="media">
  <br/>
  <br/>
  <label>Thumbnail</label>
  <br/>
  <input type="file" name="media">
  <input type="submit">
</form>