<container id="maincont">
  <container id="contlogin">
    <h2>Are you already a member?</h2>
    <a href="/auth/login"><button id="loginindexbtn">LOGIN</button></a>
  </container>
  {{!-- <container id="separador"></container> --}}
  <container id="contsignup">
    <h2>Not a member yet?</h2>
    <a href="/auth/signup"><button id="loginindexbtn"> SIGN UP</button></a>

  </container>
</container>