<div id="indexbackground">
  <div id="title-index">
    <h1>Exclusive content from top people</h1>
  </div>
  <div id="containers">
    <div class="indexcont">
      <h3>Are you already a member?</h3>
      <a href="/auth/login" class="indexbtn">LOGIN</a>
    </div>

    <div class="indexcont">
      <h3>Not a member yet?</h3>
      <a href="/auth/signup" class="indexbtn">SIGN UP</a>
    </div>
  </div>
 

</div>