<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav id="navbar">
    <span id="logo">
      <a href="/">
        <img id="logoimage" src="../images/logo.png"/>
      </a>
    </span>
    <span class="menu">
      <a href="/">Home</a>
      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Signup</a>
      <a href="/auth/logout">Logout</a>
        
    </span>
  </nav>
  <div id="wholebody">


    {{{body}}}

  </div>
 <script src="/javascripts/script.js"></script>
</body>
</html>