<h1> Hello {{name}}! </h1>


<img src="{{picture}}" alt="foto de perfil"/>
<form action="/profile-picture" enctype="multipart/form-data" method="post">

  <input type="file" name="image" />
  <input type="submit" />
</form>